[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git

[submodule "themes/Papermod"]
	path = themes/Papermod
	url = https://github.com/nodejh/hugo-theme-mini.git
