:root {
  --primary-color: #196680;
  --secondary-color: #80DFFF;
  --alternative-color: #FF9B33;
}
a {
  color: var(--primary-color);
}
.dark a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--alternative-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.dark h1,
.dark h2,
.dark h3 {
  color: var(--secondary-color);
}

.dark .pagination a {
  color: var(--primary-color);
}
